.score-board {
    position: absolute;
    content: '';
    top: 30px;
    right: 40px;
    margin: 0;
    height: 400px;
    width: 250px;
    border: 2px solid #E5E7EB;
    border-radius: 2px;
    background-color: #333;
    overflow-y: scroll;
    transition: height 0.3s;
}

.full-view {
    height: 100%;
    transition: height 0.5s;
}

*::-webkit-scrollbar {
    width: 0;
  }

.score-board-click {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    transition: color 0.3s;

    cursor: pointer;
}

.score-board-click:hover {
    color: #3DD1E7;
}

.saved-word {
    position: relative;
    font-size: 16px;
    margin: 10px;
    color: wheat;
}

.delete-mark {
    position: absolute;
    right: 1px;
    top: 5px;
    color: rgba(255, 99, 71, 0.2);
    /* transition: rotate 0.3s, color 0.6s; */
    transition: color 0.6s;
    cursor: pointer;
}

.delete-mark:hover {
    /* rotate: 180deg; */
    color: tomato;
}

.strike {
    text-decoration: line-through;
    transition: 0.3s;
}

.pdf-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}