.story-list {
    position: absolute;
    content: '';
    top: 30px;
    left: 70px;
    margin: 0;
    height: 400px;
    width: 250px;
    border: 2px solid #E5E7EB;
    border-radius: 2px;
    background-color: #333;
    overflow-y: scroll
}

*::-webkit-scrollbar {
    width: 0;
  }

.story-list-click {
    position: absolute;
    top: 10px;
    left: 40px;
    width: 25px;
    height: 25px;
    transition: color 0.3s;
    cursor: pointer;
}

.story-list-click:hover {
    color: #3DD1E7;
}

.story-title {
    position: relative;
    width: 85%;
    font-size: 15px;
    margin: 10px;
    color: wheat;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.story-title:hover {
    color: white;
}

.add-new-story {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    transition: color 0.6s;
}

.plus {
    cursor: pointer;
    transition: color 0.6s;
}

.plus:hover {
    color: #3DD1E7;
}

.delete-story {
    position: absolute;
    right: -20px;
    top: 3px;
    color: rgba(255, 99, 71, 0.2);
    transition: color 0.6s;
    cursor: pointer;
}

.delete-story:hover {
    color: red;
}

.line {
    margin: 12px;
    width: 90%;
    height: 1.02px;
    background-color: white;
}