.mainsettings-site {
  padding: 20px 10px;
}

.lets-start-btn {
background-color: #3DD1E7;
border: 0 solid #E5E7EB;
color: #000000;
font-family: ui-sans-serif,system-ui,system-ui,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
font-size: 1rem;
font-weight: 700;
padding: 15px 30px;
cursor: pointer;
text-align: center;
text-decoration-thickness: auto;
transform: rotate(-2deg);
}

a {
  text-decoration: none;
  color: #000000;
}

.select-bar-wrapper {
  flex-direction: column;
  height: 200px;
  min-width: 200px;
}

.select-bar {
  width: 200px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
}

.google { 
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: white;
  background-image: url("../img/google_logo.png") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.google:hover {
  box-shadow: 0 0 10px 0 white;
}

.lets-start-btn:before {
  content: '';
  position: absolute;
  border: 1px solid #E5E7EB;
  bottom: 6px;
  left: 6px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transform: rotate(2deg);
  transition: .2s;
}

.lets-start-btn:hover:before {
  bottom: 5px;
  left: 5px;
}


@media (min-width: 768px) {
  .lets-start-btn {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}