.story:hover {
    color: #3DD1E7;
    visibility: visible;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

.story-btn {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  color: #000000;
  font-family: ui-sans-serif,system-ui,system-ui,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  cursor: pointer;
}

.nextstory {
  transform: rotate(-2deg);
}

.story-btn:focus {
  outline: 0;
}

.nextstory:after {
  content: '';
  position: absolute;
  border: 1px solid #E5E7EB;
  bottom: 6px;
  left: 6px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transform: rotate(2deg);
  transition: .2s;
}

.story-btn:hover:after {
  bottom: 5px;
  left: 5px;
}

.linkin {
  text-align: end;
  font-family: ui-sans-serif,system-ui,system-ui,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  align-items: start;
  font-weight: 700;
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  color: #000000;
}

@media (min-width: 768px) {
  .story-btn {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}